@use './settings.scss' as s;

.infos {
   & > div {
      display: flex;
   }
   &__top-container {
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      @media screen and (max-width: s.$phone-breakpoint) {
         margin-bottom: 15px;
      }
   }
   &__title {
      font-size: 36px;
      color: s.$primary-color;
      font-weight: 500;
      margin: 0;
      @media screen and (max-width: s.$phone-breakpoint) {
         font-size: 18px;
      }
   }
   &__location {
      font-size: 18px;
      font-weight: 500;
      margin: 10px 0 0 0;
      @media screen and (max-width: s.$phone-breakpoint) {
         font-size: 14px;
      }
   }
   &__host {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: 500;
      color: s.$primary-color;
      @media screen and (max-width: s.$phone-breakpoint) {
         font-size: 12px;
      }
      img {
         width: 64px;
         height: 64px;
         border-radius: 50%;
         object-fit: cover;
         @media screen and (max-width: s.$phone-breakpoint) {
            width: 32px;
            height: 32px;
         }
      }
   }
   &__middle-container {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      @media screen and (max-width: s.$phone-breakpoint) {
         margin-bottom: 15px;
      }
   }
   &__phone-template-container {
      justify-content: space-between;
      align-items: center;
   }
   &__bottom-container {
      justify-content: space-between;
      gap: 7%;
      @media screen and (max-width: s.$phone-breakpoint) {
         display: initial !important;
         position: relative;
         bottom: 5px;
      }
   }
}
